html {
    background: url("https://wallpapercave.com/wp/FuFhN86.jpg") center center;
  }
  
  body {
    width: 75%;
   margin: 0 auto; 
  
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color:rgba(255,253,243,0.70);
  }
  
  #cute_burger {
    display: block;
     margin: auto;
  }
  
  h1 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 65px;
    margin: 50px;
  }
  
  .burgerAvailable {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #61cde585;
    border: none;
  }
  
  .burgerAvailable:hover {
    background-color:#61cde5cf;
  }
  
  .burgerEaten {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #ffd1c9;
  }
  
  h2 {
     text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 40px;
    margin: 50px;
  }
  
  .formContainer {
    background-color: orange;
  }
  
  .addBurgerButton {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  
    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #c46634cc;
    border: none;
  }
  
  .addBurgerButton:active {
   background-color: #c46634cc;
  }
  

  